*{
   margin: 0;
   padding: 0;
}

.center{
   display: block;
   margin-left: auto;
   margin-right: auto;
   height: 400px;
   margin-top: 118px;
}
.btn{
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 8px;
   margin-top: 20px;
   background-color: aliceblue;
}

